@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
}
.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.user-auth{
    margin-left: 40px;
}
.user-auth .login-btn-model{
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}
.user-auth .login-btn-model:hover{
    background: #fff;
    color: #222; 
}
section {
    min-height: 100vh;
    background: url(iamges/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}
section h1{
    position: absolute;
    bottom: 40px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.auth-model{
    position: fixed;
    width: 420px;
    height: 440px;
    background: rgba(0, 0, 0, .3);
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    color: #fff;
    inset:0 ;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease, transform .5s ease;

}
.auth-model.show{
    transform: scale(1);
}
.auth-model.slide {
    height: 520px;

}
.auth-model .form-box{
    width: 100%;
    padding: 40px;

}
.auth-model .form-box.login,
.auth-model.slide .form-box.register{
    transform: translateX(0);
    transition: transform .18s ease;
}
.auth-model.auth-model.slide .form-box.login{

    transform: translateX(-400px);
    transition: none;
}
.auth-model .form-box.register{
    position: absolute;
    transform: translateX(400px);
}
.form-box h2{
    font-size: 25px;
    text-align: center;   
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 ;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #222;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #222;
    font-weight: 500;
    cursor: pointer;
}
.form-box p{
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}
.form-box p a{
    color: #fff;
    text-decoration: none ;
    font-weight: 600;
}
.form-box p a:hover{
    text-decoration: underline;
}   



.auth-model .close-btn-model{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    border: none;
    border-bottom-left-radius: 20px;
    font-size: 35px;
    color: #222;
    cursor: pointer;
    z-index: 1;
}
